<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> 
        <link rel="stylesheet" href="styles.css" />


        <title>Libros</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">LIBRERIA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/libros">Libros</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Configuraciones
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Libros</a></li>
                                <li><a class="dropdown-item" href="#">Autor</a></li>
                                <li><a class="dropdown-item" href="#">Editorial</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        <div class="container mt-5">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-5">
                    <h1>Lista de libros</h1>
                    <form class="d-flex">
                        <input />
                        <button>Buscar</button>
                    </form>
                </div>


                <!--                BOTON CARGAR AUTOR-->

                <button type="button" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAgregarAutor">Cargar Autor</button>

                <div class="modal fade" id="ModalAgregarAutor" tabindex="-1" aria-hidden ="true" aria-labelledby="modalTitle"> 

                    <div class ="modal-dialog modal-lg" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTittle"> Agregar un Autor </h5>
                                <button type =" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form th:action="@{/autor/crearAutor}" method="POST">
                                <div class="modal-body">

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" name="nombre" id="formGroupExampleInput" placeholder ="Ingrese el nombre de Autor">
                                    </div>



                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>


                <!--                BOTON CARGAR EDITORIAL-->

                <button type="button" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAgregarEditorial">Cargar Editorial</button>

                <div class="modal fade" id="ModalAgregarEditorial" tabindex="-1" aria-hidden ="true" aria-labelledby="modalTitle"> 

                    <div class ="modal-dialog modal-lg" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTittle"> Agregar una Editorial </h5>
                                <button type =" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form th:action="@{/editorial/crearEditorial}" method="POST">



                                <div class="modal-body">

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" name="nombre" id="formGroupExampleInput" placeholder ="Ingrese la Editorial">
                                    </div>



                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>   

                <!--                BOTON CARGAR LIBROS-->

                <button type="button" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal">Cargar Libro</button>

                <div class="modal fade" id="miModal" tabindex="-1" aria-hidden ="true" aria-labelledby="modalTitle"> 

                    <div class ="modal-dialog modal-lg" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTittle"> Agregar un Libro </h5>
                                <button type =" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form th:action="@{/libros/crearLibro}" method="POST">
                                <div class="modal-body">

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">ISBN</label>
                                        <input type="text" class="form-control" name="isbn" id="formGroupExampleInput" placeholder ="Ingrese el ISBN">
                                    </div>
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput2" class="form-label">Titulo</label>
                                        <input type="text" class="form-control" name="titulo" id="formGroupExampleInput2" placeholder="Ingrese Titulo">
                                    </div>
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput3" class="form-label">Año</label>
                                        <input type="text" class="form-control" name="anio" id="formGroupExampleInput3" placeholder="Ingrese Año">
                                    </div>
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput4" class="form-label">Ejemplares</label>
                                        <input type="text" class="form-control" name="ejemplares" id="formGroupExampleInput4" placeholder="Ingrese la cantidad total de libro">
                                    </div>
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput5" class="form-label">Ejemplares Prestados</label>
                                        <input type="text" class="form-control" name="ejemplaresPrestados" id="formGroupExampleInput5" placeholder="Ingrese ejemplares prestados">
                                    </div>
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput6" class="form-label">Ejemplares Restantes</label>
                                        <input type="text" class="form-control" name="ejemplaresRestantes" id="formGroupExampleInput6" placeholder="Ingrese ejemplares restantes">
                                    </div>

                                    <!--
                                                                                                 MOSTRAR COMBO-->
                                    <div class="mb-3">
                                        <label>Autor</label>
                                        <select class="form-control" name="idAutor" >
                                            <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"   ></option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label>Editorial</label>
                                        <select class="form-control" name="idEditorial" >
                                            <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                                        </select>
                                    </div>


                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>


            </div>   

        </div>






        <div th:if="${error != null}" class="alert alert-danger" role="alert">
            <h5 th:text="${error}"  href="#" class="alert-link">an example link</h5> 
        </div>  
        <div th:if="${exito != null}" class="alert alert-success" role="alert">
            <h5 th:text="${exito}"  href="#" class="alert-link">an example link</h5> 
        </div>


        <table id="DatableLibreria" class="table table-striped">
            <thead>
                <tr>

                    <th scope="col">Titulo</th>
                    <th scope="col">isbn</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editorial</th>
                    <th scope="col">Año</th>
                    <th scope="col">Ejemplares</th>
                    <th scope="col">Prestados</th>
                    <th scope="col">Restantes</th>

                    <th scope="col">alta</th>
                    <!--<th scope="col">Editar</th>-->
                </tr>
            </thead>
            <tbody>
                <tr th:each="libro, i : ${libros}">

                    <td  th:text="${libro.titulo}"  ></td> 
                    <td th:text="${libro.isbn}"></td>
                    <td th:text="${libro.autor.nombre}" > </td>
                    <td th:text="${libro.editorial.nombre}"></td>
                    <td th:text="${libro.anio}"></td>
                    <td th:text="${libro.ejemplares}"></td>
                    <td th:text="${libro.ejemplaresPrestados}"></td>
                    <td th:text="${libro.ejemplaresRestantes}"></td>


                    <td th:text="${libro.alta ? 'Activo' : 'Inactivo'}"></td>


                    <!--
                                                            EDITAR -->



                    <td>  



                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" th:data-bs-target="${'#exampleModal' + i.index}">
                            Editar
                        </button>

                        <div class="modal fade" th:id="${'exampleModal' + i.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" th:text="${'Editar: ' + libro.titulo}"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/libros/actualizar-perfil}" method="POST">

                                            <input type ="hidden" name ="id" th:value="${libro.id}"/>

                                            <div class="modal-body">

                                                <div class="mb-3">
                                                    <label for="formGroupExampleInput" class="form-label">ISBN</label>
                                                    <input type="text" class="form-control" name="isbn" id="formGroupExampleInput" th:value="${libro.isbn}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="formGroupExampleInput2" class="form-label">Titulo</label>
                                                    <input type="text" class="form-control" name="titulo" id="formGroupExampleInput2" th:value="${libro.titulo}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="formGroupExampleInput3" class="form-label">Año</label>
                                                    <input type="text" class="form-control" name="anio" id="formGroupExampleInput3" th:value="${libro.anio}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="formGroupExampleInput4" class="form-label">Ejemplares</label>
                                                    <input type="text" class="form-control" name="ejemplares" id="formGroupExampleInput4" th:value="${libro.ejemplares}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="formGroupExampleInput5" class="form-label">Ejemplares Prestados</label>
                                                    <input type="text" class="form-control" name="ejemplaresPrestados" id="formGroupExampleInput5" th:value="${libro.ejemplaresPrestados}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="formGroupExampleInput6" class="form-label">Ejemplares Restantes</label>
                                                    <input type="text" class="form-control" name="ejemplaresRestantes" id="formGroupExampleInput6" th:value="${libro.ejemplaresRestantes}">
                                                </div>


                                                MOSTRAR COMBO
                                                <div class="mb-3">
                                                    <label>Autor</label>
                                                    <select class="form-control" name="idAutor" >
                                                        <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}" th:selected="${autor.id == libro.autor.id}"  ></option>
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <label>Editorial</label>
                                                    <select class="form-control" name="idEditorial" >
                                                        <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}" th:selected="${editorial.id == libro.editorial.id}"></option>
                                                    </select>
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-primary">Guardar</button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>


                    <td> 
                        <a class="btn btn-danger" 
                           th:href="@{/libros/eliminarLibro/} + ${libro.id}"> Eliminar</a>

                        <!--                        <a th:href="@{/eliminarLibro (id=${__libro.id__})}"
                                                    class="btn btn-danger"
                                                    role="button"> Eliminar </a>-->
                    </td>




                    <!--                    <td>  
                    
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="${'#example1Modal' + i.index}">
                                                Eliminar
                                            </button>
                    
                                            <div class="modal fade" th:id="${'example1Modal' + i.index}" tabindex="-1" aria-labelledby="example1ModalLabel" aria-hidden="true">
                    
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Eliminar</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                    
                                                            <h5 th:text="${'Seguro que desea eliminar el libro: ' + libro.titulo}"></h5>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                            <button formaction="/libros/eliminarLibro" formethod="DELETE" type="submit" class="btn btn-danger">Eliminar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    
                                        </td>-->

                </tr>

            </tbody>
        </table>








        <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <!--        <script>
                    $(document).ready( function () {
                    $('#DatableLibreria').DataTable();
                    } );
                </script> -->

    </body>

</html>